@{
	ViewData["Title"] = "Contact"; Layout = null;
}
<!DOCTYPE html>
<html lang="en-US" class="no-js">
<!-- Mirrored from live.21lab.co/nanofit/contact-us/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 17 Aug 2023 09:50:13 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<!-- /Added by HTTrack -->

<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport">
	<link rel="profile" href="http://gmpg.org/xfn/11" />
	<title>Contact Us &#8211; NanoFit</title>
	<link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Inter%3A100%2C200%2C300%2Cregular%2C500%2C600%2C700%2C800%2C900%7CBarlow%20Condensed%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CBarlow%20Semi%20Condensed%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto%20Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;subset=cyrillic%2Ccyrillic-ext%2Cgreek%2Cgreek-ext%2Clatin%2Clatin-ext%2Cvietnamese&amp;display=swap" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A100%2C200%2C300%2Cregular%2C500%2C600%2C700%2C800%2C900%7CBarlow%20Condensed%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CBarlow%20Semi%20Condensed%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto%20Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;subset=cyrillic%2Ccyrillic-ext%2Cgreek%2Cgreek-ext%2Clatin%2Clatin-ext%2Cvietnamese&amp;display=swap" media="print" onload="this.media='all'" />
	<noscript>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A100%2C200%2C300%2Cregular%2C500%2C600%2C700%2C800%2C900%7CBarlow%20Condensed%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CBarlow%20Semi%20Condensed%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto%20Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;subset=cyrillic%2Ccyrillic-ext%2Cgreek%2Cgreek-ext%2Clatin%2Clatin-ext%2Cvietnamese&amp;display=swap" />
	</noscript>
	<link rel="stylesheet" href="~/Website/wp-content/cache/min/1/86803b9a332d0a623ef15b675782c8f4.css" media="all" data-minify="1" />
	<meta name='robots' content='max-image-preview:large' />
	<link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
	<link href='https://fonts.gstatic.com/' crossorigin rel='preconnect' />
	<link rel="alternate" type="application/rss+xml" title="NanoFit &raquo; Feed" href="../feed/index.html" />
	<link rel="alternate" type="application/rss+xml" title="NanoFit &raquo; Comments Feed" href="../comments/feed/index.html" />
	<style>
		img.wp-smiley,
		img.emoji {
			display: inline !important;
			border: none !important;
			box-shadow: none !important;
			height: 1em !important;
			width: 1em !important;
			margin: 0 0.07em !important;
			vertical-align: -0.1em !important;
			background: none !important;
			padding: 0 !important;
		}
	</style>
	<style id='__SLUG__-inline-css'>
		body {
			background-color: #ffffff;
			font-family: Inter;
			font-style: normal;
			color: #2e4c5f;
			font-size: 17px;
			line-height: 160%;
		}

		#site-header-sticky {
			background-color: rgba(253, 236, 235, 0.85);
		}

		h1 {
			font-family: Barlow Condensed;
			font-weight: 700;
			font-style: italic;
			text-transform: uppercase;
		}

		h2 {
			font-family: Barlow Condensed;
			font-weight: 700;
			font-style: italic;
			text-transform: uppercase;
		}

		h3 {
			font-family: Barlow Condensed;
			font-weight: 700;
			font-style: italic;
			text-transform: uppercase;
		}

		h4 {
			font-family: Barlow Condensed;
			font-weight: 700;
			font-style: italic;
			text-transform: uppercase;
		}

		h5 {
			font-family: Barlow Condensed;
			font-weight: 700;
			font-style: italic;
			text-transform: uppercase;
		}

		h6 {
			font-family: Barlow Semi Condensed;
			font-weight: 700;
			font-style: italic;
			text-transform: uppercase;
		}

		.site-header .navigator > .menu > li a {
			font-family: Barlow Condensed;
			font-weight: 600;
			font-style: italic;
			text-transform: uppercase;
		}

		.site-header-sticky .navigator > .menu > li a {
			font-family: Barlow Condensed;
			font-weight: 600;
			font-style: italic;
			text-transform: uppercase;
		}

		.sliding-menu {
			background-color: #fff;
			background-image: url(~/Website/wp-content/uploads/2022/03/Bitmap2.png);
			background-position: bottom right;
			background-repeat: no-repeat;
			background-size: auto 30%;
			background-attachment: scroll;
		}

		a {
			color: #eb4438;
		}

			a:hover {
				color: #2e4c5f;
			}

		.wrap {
			width: 1280px;
			max-width: 92%;
		}

		.logo.logoDefault {
			width: auto;
			height: auto;
		}

		.logo.logoLight {
			width: auto;
			height: auto;
		}

		.logo.logoDark {
			width: auto;
			height: auto;
		}

		.off-canvas-left {
			background-color: #ffffff;
			background-image: url(~/Website/wp-content/uploads/2022/03/bg-blog.jpg);
			background-position: -80px 100%;
			background-repeat: no-repeat;
			background-size: auto 30%;
			background-attachment: scroll;
		}

		.button,
		input[type="button"],
		input[type="submit"],
		button {
			border: 1px solid rgba(255, 255, 255, 0);
		}

		input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]),
		textarea,
		select {
			background: rgba(0, 0, 0, 0);
			border: 1px solid rgba(46, 76, 95, 0.3);
		}

		#site-footer .footer-widgets {
			padding-top: 20px;
		}

		.content-inner[data-grid] .post,
		.content-inner[data-grid-normal] .post {
			padding-left: 20.000000px;
			padding-right: 20.000000px;
			margin-bottom: 40px;
		}

		.content-inner[data-grid],
		.content-inner[data-grid-normal] {
			margin-left: -20px;
			margin-right: -20px;
		}

		body:not(.is-loaded):after,
		body:not(.is-loaded):before {
			content: none !important;
		}

		::selection {
			background: #eb4438;
		}

		::-moz-selection {
			background: #eb4438;
		}

		.navigator .menu-primary > li:hover > a,
		.navigator .menu-primary > li.current-menu-item > a,
		.navigator .menu-primary > li.current-menu-parent > a,
		.navigator .menu-primary > li.current-menu-ancestor > a,
		.navigator .menu-primary > li.current_page_item > a,
		.navigator .menu-primary > li.current_page_ancestor > a,
		.navigator .menu-primary li .sub-menu li:hover > a,
		.navigator .menu-primary li .sub-menu li.current-menu-item > a,
		.navigator .menu-primary li .sub-menu li.current-menu-parent > a,
		.navigator .menu-primary li .sub-menu li.current-menu-ancestor > a,
		.navigator .menu-primary li .sub-menu li.current_page_item > a,
		.navigator .menu-primary li .sub-menu li.current_page_ancestor > a,
		.menu-top li .sub-menu li:hover > a,
		.menu-top li .sub-menu li.current-menu-item > a,
		.menu-top li .sub-menu li.current-menu-parent > a,
		.menu-top li .sub-menu li.current-menu-ancestor > a,
		.menu-top li .sub-menu li.current_page_item > a,
		.menu-top li .sub-menu li.current_page_ancestor > a,
		.page-title-inner,
		.header-info-text ul li i,
		table#wp-calendar #today,
		.site-footer .calendar_wrap table#wp-calendar thead,
		.site-footer .wp-calendar-nav span[class*="wp-calendar-nav"] a,
		.site-footer table#wp-calendar caption,
		.go-to-top a:before,
		.site-content .has-drop-cap:not(:focus)::first-letter,
		.site-footer .widget_mc4wp_form_widget .mc4wp-form-fields input[type="submit"],
		.contactInfo i,
		.products li.product .woocommerce-loop-product__link .price,
		.products li.product:hover .button:hover:before,
		.site-content .breadcrumbs a:hover,
		.projects-style1 .project-inner:hover .project-title a,
		.pp-fancy-heading,
		.pp-dual-heading > a .pp-second-text,
		.site .elementor-widget-pp-info-box-carousel .pp-info-box-title:before,
		.elementor-widget-pp-info-box-carousel .pp-info-box-content-wrap:hover .pp-info-box-title,
		.site .mq li:nth-child(2n),
		.site .wp-block-themepunch-revslider .tp-tabs.custom-tab .tp-tabs-inner-wrapper .tp-tab.selected h2,
		.site .elementor-counter .elementor-counter-number-wrapper,
		.list-style1 li:before,
		.list-style2 li:before,
		.list-style3 li:before {
			color: #eb4438;
		}

			.navigator .menu-primary li .sub-menu,
			.site-topbar .menu-top li .sub-menu,
			.site-footer,
			.blog-grid .post-categories a,
			table#wp-calendar tbody tr td a:after,
			.site-topbar .menu-top > li > a:after,
			.navigator .menu-primary > li > a:after,
			.navigation .page-numbers.next:hover,
			.navigation .page-numbers.current,
			table#wp-calendar caption,
			table#wp-calendar thead,
			table thead,
			.page-links .post-page-numbers.current,
			.site-footer .widget_mc4wp_form_widget .mc4wp-form-fields input[type="email"]:focus + input[type="submit"],
			.button:not([class*="product_type_"]).primary,
			.button:not([class*="product_type_"]):hover,
			[class*="header-style"] .header-info-text ul li a:hover i,
			.post .post-index,
			.woocommerce-content-top .off-canvas-toggle:hover,
			span.onsale,
			.product .summary .cart .button,
			.woocommerce-cart-form .shop_table .actions .coupon .button:hover,
			input[type="submit"]:hover,
			input[type="button"]:hover,
			button:hover,
			.button:not([class*="product_type_"]):hover,
			.cart-collaterals .cart_totals .wc-proceed-to-checkout .button,
			button#place_order,
			.checkout_coupon p.form-row.form-row-last button.button:hover,
			.widget_shopping_cart_content .woocommerce-mini-cart__buttons .button.checkout,
			.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle,
			.widget_product_categories .product-categories li a:before,
			.woocommerce-widget-layered-nav ul.woocommerce-widget-layered-nav-list li.chosen a:after,
			.widget_product_categories .product-categories li.current-cat > a:after,
			.widget_product_categories .product-categories li.current-cat-parent > a:after,
			.projects-style1 .project-inner:after,
			.pp-dual-heading > a .pp-second-text:before,
			.site .pp-dual-heading-block .pp-first-text,
			.site .elementor-image-box-wrapper .elementor-image-box-title span,
			#site .pp-slider-arrow:hover,
			.header-style3 .site-header-inner .header-info-text ul li i,
			.site .elementor-widget-wp-widget-nav_menu .menu li a:after,
			.site .elementor-widget-wp-widget-nav_menu .menu li[class*="current_"] a:before,
			.site .elementor-widget-wp-widget-nav_menu h5,
			.site .elementor-toggle .elementor-toggle-item .elementor-tab-title:before,
			[class*="header-style"] a[data-target="off-canvas-right"],
			.menu-sliding li .menu-item-toggle:after,
			[class*="header-style"] .shopping-cart .shopping-cart-items-count:after {
				background-color: #eb4438;
			}

		.navigation .page-numbers:hover,
		.page-links .post-page-numbers:hover,
		blockquote,
		.woocommerce-categories li a:hover img,
		.products li.product .added_to_cart:hover,
		.product .flex-control-thumbs li img.flex-active,
		#site .elementor-widget-image-carousel .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
			border-color: #eb4438;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		.navigator > .menu > li a,
		.menu-primary li .sub-menu li a,
		.header-info-text ul li a,
		.post-meta .post-meta-data,
		.post-tags a:before,
		.single-nproject .project-tags a:before,
		.tagcloud a:before,
		.wp-block-tag-cloud a:before,
		select,
		.button:not([class*="product_type_"]).white {
			color: #2e4c5f;
		}

		.site-content .content-header .metaBottom,
		input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):focus,
		textarea:focus {
			border-color: #2e4c5f;
		}

		.site-topbar,
		.blog-grid .post-categories a:hover,
		.navigation .page-numbers.next,
		[class*="header-style"] .search-box .widget_search:after,
		[class*="header-style"] .navigator > a:before,
		[class*="header-style"] .navigator > a span:after,
		[class*="header-style"] .navigator > a span:before,
		.site-footer .widget_mc4wp_form_widget .mc4wp-form-fields input[type="submit"]:hover,
		.site-footer .widget_mc4wp_form_widget .mc4wp-form-fields input[type="email"]:focus + input[type="submit"]:hover,
		.button:not([class*="product_type_"]).primary:hover,
		.post:hover .post-index,
		.woocommerce-content-top .off-canvas-toggle,
		.product .summary .cart .button:hover,
		input[type="submit"],
		input[type="button"],
		button,
		.button:not([class*="product_type_"]),
		.cart-collaterals .cart_totals .wc-proceed-to-checkout .button:hover,
		.woocommerce-checkout .woocommerce-checkout #order_review_heading,
		button#place_order:hover,
		.widget_shopping_cart_content .woocommerce-mini-cart__buttons .button.checkout:hover,
		.projects-filter ul li.active a,
		.wpcf7-form input[type="checkbox"]:checked,
		.site .elementor-widget-icon-list.elementor-icon-list--layout-inline .elementor-icon-list-items li a,
		#site .pp-slider-arrow,
		.elementor-widget-pp-posts .pp-post-thumbnail,
		.header-style3 .site-header-inner .header-info-text ul li a:hover i,
		.site .elementor-widget-wp-widget-nav_menu .elementor-widget-container,
		.elementor-widget-image-carousel .swiper-pagination .swiper-pagination-bullet:before {
			background-color: #2e4c5f;
		}

		table#wp-calendar tbody tr td,
		.site .elementor-widget-icon-box.elementor-position-left .elementor-icon-box-title {
			border-color: #fdeceb;
		}

		.content-header,
		body.blog,
		.calendar_wrap,
		.comments-area .comment-list #respond,
		.woocommerce-categories li a:after {
			background-color: #fdeceb;
		}

		.site-footer .widget_mc4wp_form_widget .mc4wp-form-fields input[type="email"]:focus,
		.products li.product .woocommerce-loop-product__link .price del,
		.products li.product .woocommerce-loop-product__link .price .customF {
			color: #2e3639;
		}

		.woocommerce-checkout .woocommerce-checkout .form-row.woocommerce-invalid-required-field .woocommerce-input-wrapper input.input-text,
		#site .ctform .form-row .wpcf7-form-control-wrap input.wpcf7-form-control.wpcf7-not-valid,
		#site .rqform .form-row .wpcf7-form-control-wrap input.wpcf7-form-control.wpcf7-not-valid {
			border-color: #DA291C;
		}

		.woocommerce-error {
			color: #DA291C;
		}

		.woocommerce-message {
			color: #1dc2ef;
		}

		.post-title a,
		#related-posts .hentry .post-header a,
		.search-results .post-title-inner,
		.projects-style2 .project-title a,
		.projects-style3 .project-title a,
		.elementor-widget-icon-box .elementor-icon-box-title a,
		.elementor-widget-pp-info-box-carousel .pp-info-box-footer .pp-info-box-button span,
		.site .elementor-widget-pp-posts .pp-carousel-item .pp-post-title a {
			background-image: linear-gradient(180deg, transparent 97%, #eb4438 0);
		}

		.blog-grid .post-meta,
		.widget_shopping_cart_content {
			background-image: linear-gradient(10deg, rgba(255, 255, 255, 0) 0%, #fdeceb 100%);
		}

		.site-content .content-header-center.content-header-featured:before,
		.single-nproject:not([class*="sidebar-"]) .projects-related:before {
			background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #fdeceb 100%);
		}

		.single-product:not([class*="sidebar-"]) .woocommerce-tabs:before {
			background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fdeceb 100%);
		}
	</style>
	<style id='classic-theme-styles-inline-css'>
		/*! This file is auto-generated */

		.wp-block-button__link {
			color: #fff;
			background-color: #32373c;
			border-radius: 9999px;
			box-shadow: none;
			text-decoration: none;
			padding: calc(.667em + 2px) calc(1.333em + 2px);
			font-size: 1.125em
		}

		.wp-block-file__button {
			background: #32373c;
			color: #fff;
			text-decoration: none
		}
	</style>
	<style id='global-styles-inline-css'>
		body {
			--wp--preset--color--black: #000000;
			--wp--preset--color--cyan-bluish-gray: #abb8c3;
			--wp--preset--color--white: #ffffff;
			--wp--preset--color--pale-pink: #f78da7;
			--wp--preset--color--vivid-red: #cf2e2e;
			--wp--preset--color--luminous-vivid-orange: #ff6900;
			--wp--preset--color--luminous-vivid-amber: #fcb900;
			--wp--preset--color--light-green-cyan: #7bdcb5;
			--wp--preset--color--vivid-green-cyan: #00d084;
			--wp--preset--color--pale-cyan-blue: #8ed1fc;
			--wp--preset--color--vivid-cyan-blue: #0693e3;
			--wp--preset--color--vivid-purple: #9b51e0;
			--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
			--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
			--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
			--wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
			--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
			--wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
			--wp--preset--gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
			--wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
			--wp--preset--gradient--luminous-dusk: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);
			--wp--preset--gradient--pale-ocean: linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);
			--wp--preset--gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
			--wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
			--wp--preset--font-size--small: 13px;
			--wp--preset--font-size--medium: 20px;
			--wp--preset--font-size--large: 36px;
			--wp--preset--font-size--x-large: 42px;
			--wp--preset--spacing--20: 0.44rem;
			--wp--preset--spacing--30: 0.67rem;
			--wp--preset--spacing--40: 1rem;
			--wp--preset--spacing--50: 1.5rem;
			--wp--preset--spacing--60: 2.25rem;
			--wp--preset--spacing--70: 3.38rem;
			--wp--preset--spacing--80: 5.06rem;
			--wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
			--wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
			--wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
			--wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);
			--wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);
		}

		:where(.is-layout-flex) {
			gap: 0.5em;
		}

		:where(.is-layout-grid) {
			gap: 0.5em;
		}

		body .is-layout-flow > .alignleft {
			float: left;
			margin-inline-start: 0;
			margin-inline-end: 2em;
		}

		body .is-layout-flow > .alignright {
			float: right;
			margin-inline-start: 2em;
			margin-inline-end: 0;
		}

		body .is-layout-flow > .aligncenter {
			margin-left: auto !important;
			margin-right: auto !important;
		}

		body .is-layout-constrained > .alignleft {
			float: left;
			margin-inline-start: 0;
			margin-inline-end: 2em;
		}

		body .is-layout-constrained > .alignright {
			float: right;
			margin-inline-start: 2em;
			margin-inline-end: 0;
		}

		body .is-layout-constrained > .aligncenter {
			margin-left: auto !important;
			margin-right: auto !important;
		}

		body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
			max-width: var(--wp--style--global--content-size);
			margin-left: auto !important;
			margin-right: auto !important;
		}

		body .is-layout-constrained > .alignwide {
			max-width: var(--wp--style--global--wide-size);
		}

		body .is-layout-flex {
			display: flex;
		}

		body .is-layout-flex {
			flex-wrap: wrap;
			align-items: center;
		}

			body .is-layout-flex > * {
				margin: 0;
			}

		body .is-layout-grid {
			display: grid;
		}

			body .is-layout-grid > * {
				margin: 0;
			}

		:where(.wp-block-columns.is-layout-flex) {
			gap: 2em;
		}

		:where(.wp-block-columns.is-layout-grid) {
			gap: 2em;
		}

		:where(.wp-block-post-template.is-layout-flex) {
			gap: 1.25em;
		}

		:where(.wp-block-post-template.is-layout-grid) {
			gap: 1.25em;
		}

		.has-black-color {
			color: var(--wp--preset--color--black) !important;
		}

		.has-cyan-bluish-gray-color {
			color: var(--wp--preset--color--cyan-bluish-gray) !important;
		}

		.has-white-color {
			color: var(--wp--preset--color--white) !important;
		}

		.has-pale-pink-color {
			color: var(--wp--preset--color--pale-pink) !important;
		}

		.has-vivid-red-color {
			color: var(--wp--preset--color--vivid-red) !important;
		}

		.has-luminous-vivid-orange-color {
			color: var(--wp--preset--color--luminous-vivid-orange) !important;
		}

		.has-luminous-vivid-amber-color {
			color: var(--wp--preset--color--luminous-vivid-amber) !important;
		}

		.has-light-green-cyan-color {
			color: var(--wp--preset--color--light-green-cyan) !important;
		}

		.has-vivid-green-cyan-color {
			color: var(--wp--preset--color--vivid-green-cyan) !important;
		}

		.has-pale-cyan-blue-color {
			color: var(--wp--preset--color--pale-cyan-blue) !important;
		}

		.has-vivid-cyan-blue-color {
			color: var(--wp--preset--color--vivid-cyan-blue) !important;
		}

		.has-vivid-purple-color {
			color: var(--wp--preset--color--vivid-purple) !important;
		}

		.has-black-background-color {
			background-color: var(--wp--preset--color--black) !important;
		}

		.has-cyan-bluish-gray-background-color {
			background-color: var(--wp--preset--color--cyan-bluish-gray) !important;
		}

		.has-white-background-color {
			background-color: var(--wp--preset--color--white) !important;
		}

		.has-pale-pink-background-color {
			background-color: var(--wp--preset--color--pale-pink) !important;
		}

		.has-vivid-red-background-color {
			background-color: var(--wp--preset--color--vivid-red) !important;
		}

		.has-luminous-vivid-orange-background-color {
			background-color: var(--wp--preset--color--luminous-vivid-orange) !important;
		}

		.has-luminous-vivid-amber-background-color {
			background-color: var(--wp--preset--color--luminous-vivid-amber) !important;
		}

		.has-light-green-cyan-background-color {
			background-color: var(--wp--preset--color--light-green-cyan) !important;
		}

		.has-vivid-green-cyan-background-color {
			background-color: var(--wp--preset--color--vivid-green-cyan) !important;
		}

		.has-pale-cyan-blue-background-color {
			background-color: var(--wp--preset--color--pale-cyan-blue) !important;
		}

		.has-vivid-cyan-blue-background-color {
			background-color: var(--wp--preset--color--vivid-cyan-blue) !important;
		}

		.has-vivid-purple-background-color {
			background-color: var(--wp--preset--color--vivid-purple) !important;
		}

		.has-black-border-color {
			border-color: var(--wp--preset--color--black) !important;
		}

		.has-cyan-bluish-gray-border-color {
			border-color: var(--wp--preset--color--cyan-bluish-gray) !important;
		}

		.has-white-border-color {
			border-color: var(--wp--preset--color--white) !important;
		}

		.has-pale-pink-border-color {
			border-color: var(--wp--preset--color--pale-pink) !important;
		}

		.has-vivid-red-border-color {
			border-color: var(--wp--preset--color--vivid-red) !important;
		}

		.has-luminous-vivid-orange-border-color {
			border-color: var(--wp--preset--color--luminous-vivid-orange) !important;
		}

		.has-luminous-vivid-amber-border-color {
			border-color: var(--wp--preset--color--luminous-vivid-amber) !important;
		}

		.has-light-green-cyan-border-color {
			border-color: var(--wp--preset--color--light-green-cyan) !important;
		}

		.has-vivid-green-cyan-border-color {
			border-color: var(--wp--preset--color--vivid-green-cyan) !important;
		}

		.has-pale-cyan-blue-border-color {
			border-color: var(--wp--preset--color--pale-cyan-blue) !important;
		}

		.has-vivid-cyan-blue-border-color {
			border-color: var(--wp--preset--color--vivid-cyan-blue) !important;
		}

		.has-vivid-purple-border-color {
			border-color: var(--wp--preset--color--vivid-purple) !important;
		}

		.has-vivid-cyan-blue-to-vivid-purple-gradient-background {
			background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;
		}

		.has-light-green-cyan-to-vivid-green-cyan-gradient-background {
			background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;
		}

		.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
			background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;
		}

		.has-luminous-vivid-orange-to-vivid-red-gradient-background {
			background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;
		}

		.has-very-light-gray-to-cyan-bluish-gray-gradient-background {
			background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;
		}

		.has-cool-to-warm-spectrum-gradient-background {
			background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;
		}

		.has-blush-light-purple-gradient-background {
			background: var(--wp--preset--gradient--blush-light-purple) !important;
		}

		.has-blush-bordeaux-gradient-background {
			background: var(--wp--preset--gradient--blush-bordeaux) !important;
		}

		.has-luminous-dusk-gradient-background {
			background: var(--wp--preset--gradient--luminous-dusk) !important;
		}

		.has-pale-ocean-gradient-background {
			background: var(--wp--preset--gradient--pale-ocean) !important;
		}

		.has-electric-grass-gradient-background {
			background: var(--wp--preset--gradient--electric-grass) !important;
		}

		.has-midnight-gradient-background {
			background: var(--wp--preset--gradient--midnight) !important;
		}

		.has-small-font-size {
			font-size: var(--wp--preset--font-size--small) !important;
		}

		.has-medium-font-size {
			font-size: var(--wp--preset--font-size--medium) !important;
		}

		.has-large-font-size {
			font-size: var(--wp--preset--font-size--large) !important;
		}

		.has-x-large-font-size {
			font-size: var(--wp--preset--font-size--x-large) !important;
		}

		.wp-block-navigation a:where(:not(.wp-element-button)) {
			color: inherit;
		}

		:where(.wp-block-post-template.is-layout-flex) {
			gap: 1.25em;
		}

		:where(.wp-block-post-template.is-layout-grid) {
			gap: 1.25em;
		}

		:where(.wp-block-columns.is-layout-flex) {
			gap: 2em;
		}

		:where(.wp-block-columns.is-layout-grid) {
			gap: 2em;
		}

		.wp-block-pullquote {
			font-size: 1.5em;
			line-height: 1.6;
		}
	</style>
	<style id='woocommerce-inline-inline-css'>
		.woocommerce form .form-row .required {
			visibility: visible;
		}
	</style>
	<script id='jquery-core-js-extra'>
		var pp = {
			"ajax_url": "https:\/\/live.21lab.co\/nanofit\/wp-admin\/admin-ajax.php"
		};
	</script>
	<script src='~/Website/wp-includes/js/jquery/jquery.min3088.js?ver=3.7.0' id='jquery-core-js'></script>
	<script src='~/Website/wp-includes/js/jquery/jquery-migrate.min5589.js?ver=3.4.1' id='jquery-migrate-js'></script>
	<link rel="https://api.w.org/" href="~/Website/wp-json/index.html" />
	<link rel="alternate" type="application/json" href="~/Website/wp-json/wp/v2/pages/59.json" />
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="../xmlrpc0db0.php?rsd" />
	<meta name="generator" content="WordPress 6.3" />
	<meta name="generator" content="WooCommerce 6.3.1" />
	<link rel="canonical" href="index.html" />
	<link rel='shortlink' href='../index1098.html?p=59' />
	<link rel="alternate" type="application/json+oembed" href="~/Website/wp-json/oembed/1.0/embed13e7.json?url=https%3A%2F%2Flive.21lab.co%2Fnanofit%2Fcontact-us%2F" />
	<link rel="alternate" type="text/xml+oembed" href="~/Website/wp-json/oembed/1.0/embeda589?url=https%3A%2F%2Flive.21lab.co%2Fnanofit%2Fcontact-us%2F&amp;format=xml" />
	<noscript>
		<style>
			.woocommerce-product-gallery {
				opacity: 1 !important;
			}
		</style>
	</noscript>
	<meta name="generator" content="Powered by Slider Revolution 6.5.16 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
	<link rel="icon" href="~/Website/wp-content/uploads/2022/03/cropped-favico-32x32.png" sizes="32x32" />
	<link rel="icon" href="~/Website/wp-content/uploads/2022/03/cropped-favico-192x192.png" sizes="192x192" />
	<link rel="apple-touch-icon" href="~/Website/wp-content/uploads/2022/03/cropped-favico-180x180.png" />
	<meta name="msapplication-TileImage" content="https://live.21lab.co/nanofit/wp-content/uploads/2022/03/cropped-favico-270x270.png" />
	<script>
		function setREVStartSize(e) {
			//window.requestAnimationFrame(function() {
			window.RSIW = window.RSIW === undefined ? window.innerWidth : window.RSIW;
			window.RSIH = window.RSIH === undefined ? window.innerHeight : window.RSIH;
			try {
				var pw = document.getElementById(e.c).parentNode.offsetWidth,
					newh;
				pw = pw === 0 || isNaN(pw) ? window.RSIW : pw;
				e.tabw = e.tabw === undefined ? 0 : parseInt(e.tabw);
				e.thumbw = e.thumbw === undefined ? 0 : parseInt(e.thumbw);
				e.tabh = e.tabh === undefined ? 0 : parseInt(e.tabh);
				e.thumbh = e.thumbh === undefined ? 0 : parseInt(e.thumbh);
				e.tabhide = e.tabhide === undefined ? 0 : parseInt(e.tabhide);
				e.thumbhide = e.thumbhide === undefined ? 0 : parseInt(e.thumbhide);
				e.mh = e.mh === undefined || e.mh == "" || e.mh === "auto" ? 0 : parseInt(e.mh, 0);
				if (e.layout === "fullscreen" || e.l === "fullscreen") newh = Math.max(e.mh, window.RSIH);
				else {
					e.gw = Array.isArray(e.gw) ? e.gw : [e.gw];
					for (var i in e.rl)
						if (e.gw[i] === undefined || e.gw[i] === 0) e.gw[i] = e.gw[i - 1];
					e.gh = e.el === undefined || e.el === "" || (Array.isArray(e.el) && e.el.length == 0) ? e.gh : e.el;
					e.gh = Array.isArray(e.gh) ? e.gh : [e.gh];
					for (var i in e.rl)
						if (e.gh[i] === undefined || e.gh[i] === 0) e.gh[i] = e.gh[i - 1];
					var nl = new Array(e.rl.length),
						ix = 0,
						sl;
					e.tabw = e.tabhide >= pw ? 0 : e.tabw;
					e.thumbw = e.thumbhide >= pw ? 0 : e.thumbw;
					e.tabh = e.tabhide >= pw ? 0 : e.tabh;
					e.thumbh = e.thumbhide >= pw ? 0 : e.thumbh;
					for (var i in e.rl) nl[i] = e.rl[i] < window.RSIW ? 0 : e.rl[i];
					sl = nl[0];
					for (var i in nl)
						if (sl > nl[i] && nl[i] > 0) {
							sl = nl[i];
							ix = i;
						}
					var m = pw > (e.gw[ix] + e.tabw + e.thumbw) ? 1 : (pw - (e.tabw + e.thumbw)) / (e.gw[ix]);
					newh = (e.gh[ix] * m) + (e.tabh + e.thumbh);
				}
				var el = document.getElementById(e.c);
				if (el !== null && el) el.style.height = newh + "px";
				el = document.getElementById(e.c + "_wrapper");
				if (el !== null && el) {
					el.style.height = newh + "px";
					el.style.display = "block";
				}
			} catch (e) {
				console.log("Failure at Presize of Slider:" + e)
			}
			//});
		};
	</script>
	<style id="wp-custom-css">
		.blog .site-content .content-header {
			background-repeat: no-repeat;
			background-position: bottom right;
			background-size: auto 100%;
		}

		.site .pp-dual-heading-inline-block.my-custom .pp-dual-heading > a .pp-second-text:before {
			background: #fff;
		}

		.hide-image img,
		.page-id-1217 [class*="header-style"].header-transparent .site-header-inner:before {
			display: none;
		}

		#site .elementor-widget-image-carousel.hide-image .elementor-image-carousel-caption {
			margin: 0;
		}

		@@media only screen and (max-width: 1024px) {
			.site-footer .footer-widgets .footer-aside-wrap aside:last-child {
				padding-top: 0;
			}
		}
	</style>
	<noscript>
		<style id="rocket-lazyload-nojs-css">
			.rll-youtube-player,
			[data-lazy-src] {
				display: none !important;
			}
		</style>
	</noscript>
</head>

<body class="page-template page-template-tmpl page-template-template-fullwidth page-template-tmpltemplate-fullwidth-php page page-id-59 theme-nanofit woocommerce-no-js sliding-desktop-off sliding-slide layout-wide elementor-default elementor-kit-15 elementor-page elementor-page-59" itemscope="itemscope" itemtype="https://schema.org/WebPage">
	<div id="site" class="site wrap">
		<div id="site-topbar" class="site-topbar">
			<div class="site-topbar-inner wrap">
				<div class="topbar-text" style="padding-left: 65px;">
					<p>Tamarran GYM</p>
				</div>
				<div class="social-icons"><a href="@Url.Action("Contact","Home")" data-tooltip="Contact">Contact</a> <a href="@Url.Action("Dashboard","Home")" data-tooltip="Dashboard">Dashboard</a> </div>
			</div>
		</div>
		<div id="site-header" class="site-header header-style2 header-full header-transparent">
			<div class="site-header-inner wrap">
				<div class="header-brand">
					<a href="@Url.Action("Index","Home")">
						<img width="186" height="55" src="~/AdminPanel/dist/img/AdminLTELogo.png" />
						<noscript><img width="186" height="55" src="~/AdminPanel/dist/img/AdminLTELogo.png" /></noscript>
					</a>
				</div>
				<nav class="navigator" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement" style="padding-left: 65px;">
					<ul id="menu-main-menu" class="menu menu-primary">
						<li id="menu-item-119" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-8 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-119"> <a href="@Url.Action("Index","Home")" aria-current="page">Home</a> </li>
						<li id="menu-item-119" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-8 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-119"> <a href="@Url.Action("Contact","Home")" aria-current="page">Contact</a> </li>
					</ul>
				</nav>
				<div class="extras">
					<div class="header-info-text">
						<ul class="info-list">
							<li>
								<a href="#">
									<i class="iconlab-phone"></i>
									<p> <span>Call us Now!</span> <span class="lg">(033)-712 610 181</span> </p>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="iconlab-send"></i>
									<p> <span>Talk to us</span> <span class="lg">info@example.com</span> </p>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /.site-header-inner -->
		</div>
		<div id="site-content" class="site-content">
			<div id="content-body" class="content-body">
				<div class="content-body-inner wrap">
					<!-- The main content -->
					<main id="main-content" class="main-content" itemprop="mainContentOfPage">
						<div class="content" role="main">
							<div data-elementor-type="wp-page" data-elementor-id="59" class="elementor elementor-59">
								<section class="elementor-section elementor-top-section elementor-element elementor-element-f67a132 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="f67a132" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
									<div class="elementor-container elementor-column-gap-default">
										<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-862edd0" data-id="862edd0" data-element_type="column">
											<div class="elementor-widget-wrap elementor-element-populated">
												<div class="elementor-element elementor-element-e7b7851 pp-heading-fill-solid elementor-widget elementor-widget-pp-fancy-heading" data-id="e7b7851" data-element_type="widget" data-widget_type="pp-fancy-heading.default">
													<div class="elementor-widget-container">
														<h2 class="pp-fancy-heading">
															<span class="pp-heading-text">
																We Welcome Your Questions And Feedback.
															</span>
														</h2>
													</div>
												</div>
												<div class="elementor-element elementor-element-257ad14 elementor-widget elementor-widget-text-editor" data-id="257ad14" data-element_type="widget" data-widget_type="text-editor.default">
													<div class="elementor-widget-container">
														<p>Empowering you to live a life full of health and energy!</p>
													</div>
												</div>
												<div class="elementor-element elementor-element-6a1985a elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="6a1985a" data-element_type="widget" data-widget_type="divider.default">
													<div class="elementor-widget-container">
														<div class="elementor-divider">
															<span class="elementor-divider-separator">
															</span>
														</div>
													</div>
												</div>
												<div class="elementor-element elementor-element-b8c5fad pp-dual-heading-inline elementor-widget elementor-widget-pp-dual-heading" data-id="b8c5fad" data-element_type="widget" data-widget_type="pp-dual-heading.default">
													<div class="elementor-widget-container">
														<div class="pp-dual-heading">
															<a href="#form">
																<span class="pp-first-text">
																	Personal Fitness Coach In New Market
																</span>
															</a>
														</div>
													</div>
												</div>
												<section class="elementor-section elementor-inner-section elementor-element elementor-element-2e49699 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2e49699" data-element_type="section">
													<div class="elementor-container elementor-column-gap-extended">
														<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-857fd7e" data-id="857fd7e" data-element_type="column">
															<div class="elementor-widget-wrap elementor-element-populated">
																<div class="elementor-element elementor-element-9dfdef2 elementor-position-left elementor-view-default elementor-mobile-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="9dfdef2" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;}" data-widget_type="icon-box.default">
																	<div class="elementor-widget-container">
																		<div class="elementor-icon-box-wrapper">
																			<div class="elementor-icon-box-icon">
																				<a class="elementor-icon elementor-animation-" href="#">
																					<svg xmlns="http://www.w3.org/2000/svg" height="64" width="64" viewBox="0 0 64 64">
																						<title>map compass</title>
																						<g stroke-linecap="square" stroke-width="2" fill="none" stroke="#eb4438" stroke-linejoin="miter" class="nc-icon-wrapper" stroke-miterlimit="10">
																							<line data-cap="butt" x1="22" y1="3" x2="22" y2="47" stroke-linecap="butt"></line>
																							<line data-cap="butt" x1="42" y1="11" x2="42" y2="27" stroke-linecap="butt"></line>
																							<circle cx="47" cy="47" r="15" stroke="#2e4c5f"></circle>
																							<polygon points=" 53,41 49,49 41,53 45,45 " stroke="#2e4c5f"></polygon>
																							<polyline points="25.998,48.599 22,47 2,53 2,9 22,3 42,11 62,5 62,32 "></polyline>
																						</g>
																					</svg>
																				</a>
																			</div>
																			<div class="elementor-icon-box-content">
																				<h3 class="elementor-icon-box-title">
																					<a href="#">
																						Headquarters Address USA
																					</a>
																				</h3>
																				<p class="elementor-icon-box-description">
																					2307 Beverley Rd Brooklyn, New York 11226 United States
																					<br> <a class="link" href="#">Get Directions & Wayfinding</a>
																				</p>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-21a9ddf elementor-invisible" data-id="21a9ddf" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;,&quot;animation_delay&quot;:200}">
															<div class="elementor-widget-wrap elementor-element-populated">
																<div class="elementor-element elementor-element-666b409 elementor-position-left elementor-view-default elementor-mobile-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="666b409" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;}" data-widget_type="icon-box.default">
																	<div class="elementor-widget-container">
																		<div class="elementor-icon-box-wrapper">
																			<div class="elementor-icon-box-icon">
																				<a class="elementor-icon elementor-animation-" href="#form">
																					<svg xmlns="http://www.w3.org/2000/svg" height="64" width="64" viewBox="0 0 64 64">
																						<title>sign 24h</title>
																						<g stroke-linecap="square" stroke-width="2" fill="none" stroke="#eb4438" stroke-linejoin="miter" class="nc-icon-wrapper" stroke-miterlimit="10">
																							<line data-cap="butt" stroke="#2e4c5f" x1="14" y1="18" x2="28.641" y2="8.173" stroke-linecap="butt"></line>
																							<line data-cap="butt" stroke="#2e4c5f" x1="50" y1="18" x2="35.359" y2="8.173" stroke-linecap="butt"></line>
																							<rect x="2" y="18" width="60" height="42"></rect>
																							<circle cx="32" cy="6" r="4"></circle>
																							<path d="M21.502,46.241h-9.678v-1.738l3.682-3.701c1.087-1.113,1.809-1.903,2.163-2.368 s0.613-0.903,0.776-1.313s0.244-0.85,0.244-1.318c0-0.645-0.193-1.152-0.581-1.523s-0.923-0.557-1.606-0.557 c-0.547,0-1.076,0.101-1.587,0.303s-1.102,0.566-1.772,1.094l-1.24-1.514c0.794-0.67,1.565-1.146,2.314-1.426s1.546-0.42,2.393-0.42 c1.328,0,2.393,0.347,3.193,1.04s1.201,1.626,1.201,2.798c0,0.645-0.115,1.256-0.347,1.836s-0.586,1.177-1.064,1.792 s-1.274,1.447-2.388,2.495l-2.48,2.402v0.098h6.777V46.241z" stroke-linejoin="miter" stroke="none" fill="#2e4c5f"></path>
																							<path d="M33.426,43.126h-1.924v3.115h-2.236v-3.115h-6.523v-1.768l6.523-9.434h2.236v9.297 h1.924V43.126z M29.266,41.222v-3.584c0-1.276,0.032-2.321,0.098-3.135h-0.078c-0.183,0.43-0.469,0.951-0.859,1.562l-3.545,5.156 H29.266z" stroke-linejoin="miter" stroke="none" fill="#2e4c5f"></path>
																							<path d="M41.414,31.964l-5.312,14.277h-2.168l5.322-14.277H41.414z" stroke-linejoin="miter" stroke="none" fill="#2e4c5f"></path>
																							<path d="M44.08,46.241l5.645-12.236h-7.422v-2.021h9.873v1.602l-5.615,12.656H44.08z" stroke-linejoin="miter" stroke="none" fill="#2e4c5f"></path>
																						</g>
																					</svg>
																				</a>
																			</div>
																			<div class="elementor-icon-box-content">
																				<h3 class="elementor-icon-box-title">
																					<a href="#form">
																						Want to keep in touch?
																					</a>
																				</h3>
																				<p class="elementor-icon-box-description">
																					Contact phone: (033) 712 610 181
																					<br> Email: info@example.com
																					<br> <a class="link" href="#form">Get in Touch</a>
																				</p>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-94e2dab elementor-invisible" data-id="94e2dab" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;,&quot;animation_delay&quot;:400}">
															<div class="elementor-widget-wrap elementor-element-populated">
																<div class="elementor-element elementor-element-d3855c9 elementor-position-left elementor-view-default elementor-mobile-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="d3855c9" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;}" data-widget_type="icon-box.default">
																	<div class="elementor-widget-container">
																		<div class="elementor-icon-box-wrapper">
																			<div class="elementor-icon-box-icon">
																				<a class="elementor-icon elementor-animation-" href="#">
																					<svg xmlns="http://www.w3.org/2000/svg" height="64" width="64" viewBox="0 0 64 64">
																						<title>b meeting</title>
																						<g stroke-linecap="square" stroke-width="2" fill="none" stroke="#eb4438" stroke-linejoin="miter" class="nc-icon-wrapper" stroke-miterlimit="10">
																							<polygon points=" 62,2 28,2 28,30 38,22 62,22 " stroke="#2e4c5f"></polygon>
																							<circle cx="50" cy="36" r="6"></circle>
																							<circle cx="14" cy="36" r="6"></circle>
																							<path d="M26,60v-5.965 c0-1.42-0.745-2.726-1.967-3.449C22.088,49.435,18.716,48,14,48c-4.777,0-8.127,1.426-10.052,2.575C2.736,51.299,2,52.601,2,54.013 V60H26z"></path>
																							<path d="M62,60v-5.965 c0-1.42-0.745-2.726-1.967-3.449C58.088,49.435,54.716,48,50,48c-4.777,0-8.127,1.426-10.052,2.575 C38.736,51.299,38,52.601,38,54.013V60H62z"></path>
																						</g>
																					</svg>
																				</a>
																			</div>
																			<div class="elementor-icon-box-content">
																				<h3 class="elementor-icon-box-title">
																					<a href="#">
																						Frequently <br>Asked Questions
																					</a>
																				</h3>
																				<p class="elementor-icon-box-description">
																					Here You’ll Find Some of The Most Common Questions
																					<br> <a class="link" href="#">See FAQs About NanoFit</a>
																				</p>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</section>
											</div>
										</div>
									</div>
								</section>
								<section class="elementor-section elementor-top-section elementor-element elementor-element-1e91b2b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1e91b2b" data-element_type="section">
									<div class="elementor-container elementor-column-gap-default">
										<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-5fbd4bf" data-id="5fbd4bf" data-element_type="column">
											<div class="elementor-widget-wrap elementor-element-populated">
												<div class="elementor-element elementor-element-9fa0398 elementor-widget elementor-widget-menu-anchor" data-id="9fa0398" data-element_type="widget" data-widget_type="menu-anchor.default">
													<div class="elementor-widget-container">
														<div id="form" class="elementor-menu-anchor"></div>
													</div>
												</div>
												<div class="elementor-element elementor-element-6bba43e pp-contact-form-7-button-custom elementor-widget elementor-widget-pp-contact-form-7" data-id="6bba43e" data-element_type="widget" data-widget_type="pp-contact-form-7.default">
													<div class="elementor-widget-container">
														<div class="pp-contact-form pp-contact-form-7 placeholder-show">
															<div class="pp-contact-form-7-heading">
																<h3 class="pp-contact-form-title pp-contact-form-7-title">
																	Send a Message!
																</h3>
																<div class="pp-contact-form-description pp-contact-form-7-description"> The quickest way to get in contact is to telephone (033) 712 610 181 </div>
															</div>
															<div role="form" class="wpcf7" id="wpcf7-f309-p59-o1" lang="en-US" dir="ltr">
																<div class="screen-reader-response">
																	<p role="status" aria-live="polite" aria-atomic="true"></p>
																	<ul></ul>
																</div>
																<form action="https://live.21lab.co/nanofit/contact-us/#wpcf7-f309-p59-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
																	<div style="display: none;">
																		<input type="hidden" name="_wpcf7" value="309" />
																		<input type="hidden" name="_wpcf7_version" value="5.5.6" />
																		<input type="hidden" name="_wpcf7_locale" value="en_US" />
																		<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f309-p59-o1" />
																		<input type="hidden" name="_wpcf7_container_post" value="59" />
																		<input type="hidden" name="_wpcf7_posted_data_hash" value="" />
																	</div>
																	<div class="ctform">
																		<p class="form-row">
																			<label>Name *</label>
																			<br /> <span class="wpcf7-form-control-wrap text-209"><input type="text" name="text-209" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="How We Call You?" /></span>
																		</p>
																		<p class="form-row">
																			<label>Email *</label>
																			<br /> <span class="wpcf7-form-control-wrap email-14"><input type="email" name="email-14" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="What Address Should I Send a Reply to?" /></span>
																		</p>
																		<p class="form-row">
																			<label>Phone</label>
																			<br /> <span class="wpcf7-form-control-wrap tel-478"><input type="tel" name="tel-478" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" aria-invalid="false" placeholder="What Number Should I Call Back to?" /></span>
																		</p>
																		<p class="form-row note">
																			<label>Message</label>
																			<br /> <span class="wpcf7-form-control-wrap textarea-988"><textarea name="textarea-988" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="White Something…"></textarea></span>
																		</p>
																		<p>
																			<input type="submit" value="Send a Message" class="wpcf7-form-control has-spinner wpcf7-submit" />
																		</p>
																		<p>
																			<span class="wpcf7-form-control-wrap acceptance-133">
																				<span class="wpcf7-form-control wpcf7-acceptance">
																					<span class="wpcf7-list-item">
																						<label><input type="checkbox" name="acceptance-133" value="1" aria-invalid="false" checked="checked" /><span class="wpcf7-list-item-label">I have read and accept the Privacy Policy</span></label>
																					</span>
																				</span>
																			</span>
																		</p>
																	</div>
																	<div class="wpcf7-response-output" aria-hidden="true"></div>
																</form>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-0d18034" data-id="0d18034" data-element_type="column">
											<div class="elementor-widget-wrap"> </div>
										</div>
										<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-e2d05b4 elementor-hidden-tablet elementor-hidden-mobile" data-id="e2d05b4" data-element_type="column">
											<div class="elementor-widget-wrap elementor-element-populated">
												<div class="elementor-element elementor-element-cd86f53 elementor-invisible elementor-widget elementor-widget-image" data-id="cd86f53" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}" data-widget_type="image.default">
													<div class="elementor-widget-container">
														<img decoding="async" fetchpriority="high" width="516" height="565" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20516%20565'%3E%3C/svg%3E" class="attachment-full size-full" alt="" data-lazy-srcset="https://live.21lab.co/nanofit/wp-content/uploads/2022/03/img-ct.jpg 516w, https://live.21lab.co/nanofit/wp-content/uploads/2022/03/img-ct-274x300.jpg 274w" data-lazy-sizes="(max-width: 516px) 100vw, 516px" data-lazy-src="~/Website/wp-content/uploads/2022/03/img-ct.jpg" />
														<noscript><img decoding="async" fetchpriority="high" width="516" height="565" src="~/Website/wp-content/uploads/2022/03/img-ct.jpg" class="attachment-full size-full" alt="" srcset="https://live.21lab.co/nanofit/wp-content/uploads/2022/03/img-ct.jpg 516w, https://live.21lab.co/nanofit/wp-content/uploads/2022/03/img-ct-274x300.jpg 274w" sizes="(max-width: 516px) 100vw, 516px" /></noscript>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>
							</div>
						</div>
						<!-- /.content -->
					</main>
					<!-- /.main-content -->
				</div>
				<!-- /.content-body-inner -->
			</div>
			<!-- /.content-body -->
		</div>
		<!-- /.site-content -->
		<div id="site-footer" class="site-footer">
			<div class="footer-widgets">
				<div class="footer-widgets-inner wrap">
					<div class="footer-aside-wrap">
						<aside data-width="6">
							<div id="mc4wp_form_widget-3" class="widget-odd widget-first widget-1 widget widget_mc4wp_form_widget">
								<script>
									(function () {
										window.mc4wp = window.mc4wp || {
											listeners: [],
											forms: {
												on: function (evt, cb) {
													window.mc4wp.listeners.push({
														event: evt,
														callback: cb
													});
												}
											}
										}
									})();
								</script>
								<!-- Mailchimp for WordPress v4.8.7 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
								<form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-22" method="post" data-id="22" data-name="Sign Up">
									<div class="mc4wp-form-fields">
										<h2>Want to get motivated? <br>Stay Connected!</h2>
										<input type="email" name="EMAIL" placeholder="Your email address" required />
										<input type="submit" value="Subscribe Now" />
									</div>
									<label style="display: none !important;">
										Leave this field empty if you're human:
										<input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" />
									</label>
									<input type="hidden" name="_mc4wp_timestamp" value="1692250820" />
									<input type="hidden" name="_mc4wp_form_id" value="22" />
									<input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1" />
									<div class="mc4wp-response"></div>
								</form>
								<!-- / Mailchimp for WordPress Plugin -->
							</div>
							<div id="custom_html-3" class="widget_text widget-even widget-last widget-2 widget widget_custom_html">
								<div class="textwidget custom-html-widget">
									<ul class="contactInfo">
										<li>
											<strong><i class="iconlab-phone"></i>Contact</strong> <a href="#">info@yourdomain.com</a>
											<br> <a href="#">(033) 712 610 181</a>
										</li>
										<li>
											<strong><i class="iconlab-pin-3-1"></i>Address</strong> <a href="#">
												Beverley Rd Brooklyn,<br>
												New York 11226 US.
											</a>
										</li>
									</ul>
								</div>
							</div>
						</aside>
						<aside data-width="1"></aside>
						<aside data-width="5">
							<div id="nav_menu-3" class="widget-odd widget-last widget-first widget-1 menu-style1 widget widget_nav_menu">
								<div class="menu-footer-menu-container">
									<ul id="menu-footer-menu" class="menu">
										<li id="menu-item-102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-102">
											<a href="about-us/index.html">Our Pages</a>
											<ul class="sub-menu">
												<li id="menu-item-101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-101"><a href="@Url.Action("Index","Home")">Home</a></li>
												<li id="menu-item-96" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-96"><a href="@Url.Action("Contact","Home")">Contact</a></li>
											</ul>
										</li>
										<li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-86">
											<a href="training/index.html">Extra Page</a>
											<ul class="sub-menu">
												<li id="menu-item-90" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-90"><a href="#">Extra Page 1</a></li>
												<li id="menu-item-90" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-90"><a href="#">Extra Page 2</a></li>
												<li id="menu-item-90" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-90"><a href="#">Extra Page 3</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</aside>
					</div>
				</div>
			</div>
		</div>
		<!-- /#site-footer -->
		<div id="off-canvas-left" class="off-canvas off-canvas-left">
			<div class="off-canvas-wrap wrap">
				<a href="javascript:;" data-target="off-canvas-left" class="off-canvas-toggle"> <span></span> </a>
				<div id="search-2" class="widget-odd widget-first widget-1 widget widget_search">
					<form role="search" method="get" class="search-form" action="https://live.21lab.co/nanofit/">
						<label>
							<span class="screen-reader-text">Search for:</span>
							<input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
						</label>
						<input type="submit" class="search-submit" value="Search" />
					</form>
				</div>
				<div id="nav_menu-4" class="widget-even widget-2 widget widget_nav_menu">
					<h3 class="widget-title">Training Services</h3>
					<div class="menu-training-services-container">
						<ul id="menu-training-services" class="menu">
							<li id="menu-item-626" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-626"><a href="training/cardio-fitness/index.html">Cardio Fitness</a></li>
							<li id="menu-item-630" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-630"><a href="training/group-training/index.html">Group Training</a></li>
							<li id="menu-item-629" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-629"><a href="training/in-home-yoga/index.html">In-Home Yoga</a></li>
							<li id="menu-item-628" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-628"><a href="training/nutrition-wellness/index.html">Nutrition &#038; Wellness</a></li>
							<li id="menu-item-627" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-627"><a href="training/senior-fitness-training/index.html">Senior Fitness Training</a></li>
							<li id="menu-item-623" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-623"><a href="training/specialty-services/index.html">Specialty Services</a></li>
							<li id="menu-item-625" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-625"><a href="training/sports-conditioning/index.html">Sports Conditioning</a></li>
							<li id="menu-item-624" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-624"><a href="training/weight-loss-toning/index.html">Weight Loss &#038; Toning</a></li>
							<li id="menu-item-622" class="btn menu-item menu-item-type-post_type menu-item-object-page menu-item-622"><a href="training/index.html">All Training Services</a></li>
						</ul>
					</div>
				</div>
				<div id="text-2" class="widget-odd widget-last widget-3 widget widget_text">
					<div class="textwidget">
						<p><a class="button full" href="contact-us/index.html">Get Started Now!</a></p>
					</div>
				</div>
			</div>
		</div>
		<div id="off-canvas-right" class="off-canvas sliding-menu">
			<div class="off-canvas-wrap">
				<a href="javascript:;" data-target="off-canvas-right" class="off-canvas-toggle"> <span></span> </a>
				<ul id="menu-mobile-menu" class="menu menu-sliding">
					<li id="menu-item-1579" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-8 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-1579">
						<a href="index.html" aria-current="page">Home</a>
						<ul class="sub-menu">
							<li id="menu-item-1557" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-8 current_page_item menu-item-1557"><a href="index.html" aria-current="page">Home #1</a></li>
							<li id="menu-item-1563" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1563"><a href="home-2/index.html">Home #2</a></li>
						</ul>
					</li>
					<li id="menu-item-1559" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1559">
						<a href="about-us/index.html">About Us</a>
						<ul class="sub-menu">
							<li id="menu-item-1568" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1568"><a href="trainers/index.html">Trainers</a></li>
							<li id="menu-item-1564" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1564"><a href="services-pricing/index.html">Services &#038; Pricing</a></li>
						</ul>
					</li>
					<li id="menu-item-1569" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1569">
						<a href="training/index.html">Training Services</a>
						<ul class="sub-menu">
							<li id="menu-item-1570" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1570"><a href="training/cardio-fitness/index.html">Cardio Fitness</a></li>
							<li id="menu-item-1571" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1571"><a href="training/group-training/index.html">Group Training</a></li>
							<li id="menu-item-1572" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1572"><a href="training/in-home-yoga/index.html">In-Home Yoga</a></li>
							<li id="menu-item-1573" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1573"><a href="training/nutrition-wellness/index.html">Nutrition &#038; Wellness</a></li>
							<li id="menu-item-1574" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1574"><a href="training/senior-fitness-training/index.html">Senior Fitness Training</a></li>
							<li id="menu-item-1575" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1575"><a href="training/specialty-services/index.html">Specialty Services</a></li>
							<li id="menu-item-1576" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1576"><a href="training/sports-conditioning/index.html">Sports Conditioning</a></li>
							<li id="menu-item-1577" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1577"><a href="training/weight-loss-toning/index.html">Weight Loss &#038; Toning</a></li>
						</ul>
					</li>
					<li id="menu-item-1580" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1580">
						<a href="success-stories/index.html">Success Stories</a>
						<ul class="sub-menu">
							<li id="menu-item-1565" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1565"><a href="success-stories/index.html">Success Stories #1</a></li>
							<li id="menu-item-1566" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1566"><a href="success-stories-2/index.html">Success Stories #2</a></li>
							<li id="menu-item-1567" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1567"><a href="success-stories-3/index.html">Success Stories #3</a></li>
						</ul>
					</li>
					<li id="menu-item-1558" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1558"><a href="blog/index.html">Blog</a></li>
					<li id="menu-item-1578" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1578">
						<a href="shop/index.html">Shop</a>
						<ul class="sub-menu">
							<li id="menu-item-1560" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1560"><a href="cart/index.html">Cart</a></li>
							<li id="menu-item-1561" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1561"><a href="checkout/index.html">Checkout</a></li>
						</ul>
					</li>
					<li id="menu-item-1562" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1562"><a href="contact-us/index.html">Contact Us</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /.site-wrapper -->
	<script>
		window.RS_MODULES = window.RS_MODULES || {};
		window.RS_MODULES.modules = window.RS_MODULES.modules || {};
		window.RS_MODULES.waiting = window.RS_MODULES.waiting || [];
		window.RS_MODULES.defered = true;
		window.RS_MODULES.moduleWaiting = window.RS_MODULES.moduleWaiting || {};
		window.RS_MODULES.type = 'compiled';
	</script>
	<script>
		(function () {
			function maybePrefixUrlField() {
				if (this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
					this.value = "http://" + this.value;
				}
			}
			var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
			if (urlFields) {
				for (var j = 0; j < urlFields.length; j++) {
					urlFields[j].addEventListener('blur', maybePrefixUrlField);
				}
			}
		})();
	</script>
	<script type="text/javascript">
		(function () {
			var c = document.body.className;
			c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
			document.body.className = c;
		})();
	</script>
	<style id='rs-plugin-settings-inline-css'>
		#rs-demo-id {
		}
	</style>
	<script src='~/Website/wp-includes/js/imagesloaded.mineda1.js?ver=4.1.4' id='imagesloaded-js'></script>
	<script data-minify="1" src='~/Website/wp-content/cache/min/1/nanofit/wp-content/themes/nanofit/assets/js/libs/isotopead4c.js?ver=1681976811' id='isotope-js'></script>
	<script data-minify="1" src='~/Website/wp-content/cache/min/1/nanofit/wp-content/themes/nanofit/assets/js/libs/packeryad4c.js?ver=1681976811' id='packery-js'></script>
	<script data-minify="1" src='~/Website/wp-content/cache/min/1/nanofit/wp-content/themes/nanofit/assets/js/libs/isotope.packeryad4c.js?ver=1681976811' id='isotope-packery-js'></script>
	<script data-minify="1" src='~/Website/wp-content/cache/min/1/nanofit/wp-content/themes/nanofit/assets/js/themead4c.js?ver=1681976811' id='__SLUG__-js'></script>
	<script src='~/Website/wp-includes/js/dist/vendor/wp-polyfill-inert.min0226.js?ver=3.1.2' id='wp-polyfill-inert-js'></script>
	<script src='~/Website/wp-includes/js/dist/vendor/regenerator-runtime.min8fa4.js?ver=0.13.11' id='regenerator-runtime-js'></script>
	<script src='~/Website/wp-includes/js/dist/vendor/wp-polyfill.min2c7c.js?ver=3.15.0' id='wp-polyfill-js'></script>
	<script id='contact-form-7-js-extra'>
		var wpcf7 = {
			"api": {
				"root": "https:\/\/live.21lab.co\/nanofit\/wp-json\/",
				"namespace": "contact-form-7\/v1"
			},
			"cached": "1"
		};
	</script>
	<script data-minify="1" src='~/Website/wp-content/cache/min/1/nanofit/wp-content/plugins/contact-form-7/includes/js/indexad4c.js?ver=1681976811' id='contact-form-7-js'></script>
	<script src='~/Website/wp-content/plugins/revslider/public/assets/js/rbtools.min04d9.js?ver=6.5.16' defer async id='tp-tools-js'></script>
	<script src='~/Website/wp-content/plugins/revslider/public/assets/js/rs6.min04d9.js?ver=6.5.16' defer async id='revmin-js'></script>
	<script src='~/Website/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.minfada.js?ver=2.7.0-wc.6.3.1' id='jquery-blockui-js'></script>
	<script id='wc-add-to-cart-js-extra'>
		var wc_add_to_cart_params = {
			"ajax_url": "\/nanofit\/wp-admin\/admin-ajax.php",
			"wc_ajax_url": "\/nanofit\/?wc-ajax=%%endpoint%%",
			"i18n_view_cart": "View cart",
			"cart_url": "https:\/\/live.21lab.co\/nanofit\/cart\/",
			"is_cart": "",
			"cart_redirect_after_add": "no"
		};
	</script>
	<script src='~/Website/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min9b30.js?ver=6.3.1' id='wc-add-to-cart-js'></script>
	<script src='~/Website/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min07f2.js?ver=2.1.4-wc.6.3.1' id='js-cookie-js'></script>
	<script id='woocommerce-js-extra'>
		var woocommerce_params = {
			"ajax_url": "\/nanofit\/wp-admin\/admin-ajax.php",
			"wc_ajax_url": "\/nanofit\/?wc-ajax=%%endpoint%%"
		};
	</script>
	<script src='~/Website/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min9b30.js?ver=6.3.1' id='woocommerce-js'></script>
	<script id='wc-cart-fragments-js-extra'>
		var wc_cart_fragments_params = {
			"ajax_url": "\/nanofit\/wp-admin\/admin-ajax.php",
			"wc_ajax_url": "\/nanofit\/?wc-ajax=%%endpoint%%",
			"cart_hash_key": "wc_cart_hash_dff1fb9a05629d48c88a7f8df79547ba",
			"fragment_name": "wc_fragments_dff1fb9a05629d48c88a7f8df79547ba",
			"request_timeout": "5000"
		};
	</script>
	<script src='~/Website/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min9b30.js?ver=6.3.1' id='wc-cart-fragments-js'></script>
	<script id="rocket-browser-checker-js-after">
		"use strict";
		var _createClass = function () {
			function defineProperties(target, props) {
				for (var i = 0; i < props.length; i++) {
					var descriptor = props[i];
					descriptor.enumerable = descriptor.enumerable || !1, descriptor.configurable = !0, "value" in descriptor && (descriptor.writable = !0), Object.defineProperty(target, descriptor.key, descriptor)
				}
			}
			return function (Constructor, protoProps, staticProps) {
				return protoProps && defineProperties(Constructor.prototype, protoProps), staticProps && defineProperties(Constructor, staticProps), Constructor
			}
		}();

		function _classCallCheck(instance, Constructor) {
			if (!(instance instanceof Constructor)) throw new TypeError("Cannot call a class as a function")
		}
		var RocketBrowserCompatibilityChecker = function () {
			function RocketBrowserCompatibilityChecker(options) {
				_classCallCheck(this, RocketBrowserCompatibilityChecker), this.passiveSupported = !1, this._checkPassiveOption(this), this.options = !!this.passiveSupported && options
			}
			return _createClass(RocketBrowserCompatibilityChecker, [{
				key: "_checkPassiveOption",
				value: function (self) {
					try {
						var options = {
							get passive() {
								return !(self.passiveSupported = !0)
							}
						};
						window.addEventListener("test", null, options), window.removeEventListener("test", null, options)
					} catch (err) {
						self.passiveSupported = !1
					}
				}
			}, {
				key: "initRequestIdleCallback",
				value: function () {
					!1 in window && (window.requestIdleCallback = function (cb) {
						var start = Date.now();
						return setTimeout(function () {
							cb({
								didTimeout: !1,
								timeRemaining: function () {
									return Math.max(0, 50 - (Date.now() - start))
								}
							})
						}, 1)
					}), !1 in window && (window.cancelIdleCallback = function (id) {
						return clearTimeout(id)
					})
				}
			}, {
				key: "isDataSaverModeOn",
				value: function () {
					return "connection" in navigator && !0 === navigator.connection.saveData
				}
			}, {
				key: "supportsLinkPrefetch",
				value: function () {
					var elem = document.createElement("link");
					return elem.relList && elem.relList.supports && elem.relList.supports("prefetch") && window.IntersectionObserver && "isIntersecting" in IntersectionObserverEntry.prototype
				}
			}, {
				key: "isSlowConnection",
				value: function () {
					return "connection" in navigator && "effectiveType" in navigator.connection && ("2g" === navigator.connection.effectiveType || "slow-2g" === navigator.connection.effectiveType)
				}
			}]), RocketBrowserCompatibilityChecker
		}();
	</script>
	<script id='rocket-preload-links-js-extra'>
		var RocketPreloadLinksConfig = {
			"excludeUris": "\/nanofit(\/(.+\/)?feed\/?.+\/?|\/(?:.+\/)?embed\/|\/checkout\/|\/cart\/|\/my-account\/|\/wc-api\/v(.*)|\/(index\\.php\/)?wp\\-json(\/.*|$))|\/wp-admin\/|\/logout\/|\/wp-login.php",
			"usesTrailingSlash": "1",
			"imageExt": "jpg|jpeg|gif|png|tiff|bmp|webp|avif",
			"fileExt": "jpg|jpeg|gif|png|tiff|bmp|webp|avif|php|pdf|html|htm",
			"siteUrl": "https:\/\/live.21lab.co\/nanofit",
			"onHoverDelay": "100",
			"rateThrottle": "3"
		};
	</script>
	<script id="rocket-preload-links-js-after">
		(function () {
			"use strict";
			var r = "function" == typeof Symbol && "symbol" == typeof Symbol.iterator ? function (e) {
				return typeof e
			} : function (e) {
				return e && "function" == typeof Symbol && e.constructor === Symbol && e !== Symbol.prototype ? "symbol" : typeof e
			},
				e = function () {
					function i(e, t) {
						for (var n = 0; n < t.length; n++) {
							var i = t[n];
							i.enumerable = i.enumerable || !1, i.configurable = !0, "value" in i && (i.writable = !0), Object.defineProperty(e, i.key, i)
						}
					}
					return function (e, t, n) {
						return t && i(e.prototype, t), n && i(e, n), e
					}
				}();

			function i(e, t) {
				if (!(e instanceof t)) throw new TypeError("Cannot call a class as a function")
			}
			var t = function () {
				function n(e, t) {
					i(this, n), this.browser = e, this.config = t, this.options = this.browser.options, this.prefetched = new Set, this.eventTime = null, this.threshold = 1111, this.numOnHover = 0
				}
				return e(n, [{
					key: "init",
					value: function () {
						!this.browser.supportsLinkPrefetch() || this.browser.isDataSaverModeOn() || this.browser.isSlowConnection() || (this.regex = {
							excludeUris: RegExp(this.config.excludeUris, "i"),
							images: RegExp(".(" + this.config.imageExt + ")$", "i"),
							fileExt: RegExp(".(" + this.config.fileExt + ")$", "i")
						}, this._initListeners(this))
					}
				}, {
					key: "_initListeners",
					value: function (e) {
						-1 < this.config.onHoverDelay && document.addEventListener("mouseover", e.listener.bind(e), e.listenerOptions), document.addEventListener("mousedown", e.listener.bind(e), e.listenerOptions), document.addEventListener("touchstart", e.listener.bind(e), e.listenerOptions)
					}
				}, {
					key: "listener",
					value: function (e) {
						var t = e.target.closest("a"),
							n = this._prepareUrl(t);
						if (null !== n) switch (e.type) {
							case "mousedown":
							case "touchstart":
								this._addPrefetchLink(n);
								break;
							case "mouseover":
								this._earlyPrefetch(t, n, "mouseout")
						}
					}
				}, {
					key: "_earlyPrefetch",
					value: function (t, e, n) {
						var i = this,
							r = setTimeout(function () {
								if (r = null, 0 === i.numOnHover) setTimeout(function () {
									return i.numOnHover = 0
								}, 1e3);
								else if (i.numOnHover > i.config.rateThrottle) return;
								i.numOnHover++, i._addPrefetchLink(e)
							}, this.config.onHoverDelay);
						t.addEventListener(n, function e() {
							t.removeEventListener(n, e, {
								passive: !0
							}), null !== r && (clearTimeout(r), r = null)
						}, {
							passive: !0
						})
					}
				}, {
					key: "_addPrefetchLink",
					value: function (i) {
						return this.prefetched.add(i.href), new Promise(function (e, t) {
							var n = document.createElement("link");
							n.rel = "prefetch", n.href = i.href, n.onload = e, n.onerror = t, document.head.appendChild(n)
						}).catch(function () { })
					}
				}, {
					key: "_prepareUrl",
					value: function (e) {
						if (null === e || "object" !== (void 0 === e ? "undefined" : r(e)) || !1 in e || -1 === ["http:", "https:"].indexOf(e.protocol)) return null;
						var t = e.href.substring(0, this.config.siteUrl.length),
							n = this._getPathname(e.href, t),
							i = {
								original: e.href,
								protocol: e.protocol,
								origin: t,
								pathname: n,
								href: t + n
							};
						return this._isLinkOk(i) ? i : null
					}
				}, {
					key: "_getPathname",
					value: function (e, t) {
						var n = t ? e.substring(this.config.siteUrl.length) : e;
						return n.startsWith("https://live.21lab.co/") || (n = "/" + n), this._shouldAddTrailingSlash(n) ? n + "/" : n
					}
				}, {
					key: "_shouldAddTrailingSlash",
					value: function (e) {
						return this.config.usesTrailingSlash && !e.endsWith("https://live.21lab.co/") && !this.regex.fileExt.test(e)
					}
				}, {
					key: "_isLinkOk",
					value: function (e) {
						return null !== e && "object" === (void 0 === e ? "undefined" : r(e)) && (!this.prefetched.has(e.href) && e.origin === this.config.siteUrl && -1 === e.href.indexOf("?") && -1 === e.href.indexOf("#") && !this.regex.excludeUris.test(e.href) && !this.regex.images.test(e.href))
					}
				}], [{
					key: "run",
					value: function () {
						"undefined" != typeof RocketPreloadLinksConfig && new n(new RocketBrowserCompatibilityChecker({
							capture: !0,
							passive: !0
						}), RocketPreloadLinksConfig).init()
					}
				}]), n
			}();
			t.run();
		}());
	</script>
	<script data-minify="1" defer src='~/Website/wp-content/cache/min/1/nanofit/wp-content/plugins/mailchimp-for-wp/assets/js/formsad4c.js?ver=1681976811' id='mc4wp-forms-api-js'></script>
	<script src='~/Website/wp-content/plugins/elementor/assets/js/webpack.runtime.min822f.js?ver=3.6.2' id='elementor-webpack-runtime-js'></script>
	<script src='~/Website/wp-content/plugins/elementor/assets/js/frontend-modules.min822f.js?ver=3.6.2' id='elementor-frontend-modules-js'></script>
	<script src='~/Website/wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min05da.js?ver=4.0.2' id='elementor-waypoints-js'></script>
	<script src='~/Website/wp-includes/js/jquery/ui/core.min3f14.js?ver=1.13.2' id='jquery-ui-core-js'></script>
	<script id="elementor-frontend-js-before">
		var elementorFrontendConfig = {
			"environmentMode": {
				"edit": false,
				"wpPreview": false,
				"isScriptDebug": false
			},
			"i18n": {
				"shareOnFacebook": "Share on Facebook",
				"shareOnTwitter": "Share on Twitter",
				"pinIt": "Pin it",
				"download": "Download",
				"downloadImage": "Download image",
				"fullscreen": "Fullscreen",
				"zoom": "Zoom",
				"share": "Share",
				"playVideo": "Play Video",
				"previous": "Previous",
				"next": "Next",
				"close": "Close"
			},
			"is_rtl": false,
			"breakpoints": {
				"xs": 0,
				"sm": 480,
				"md": 768,
				"lg": 1025,
				"xl": 1440,
				"xxl": 1600
			},
			"responsive": {
				"breakpoints": {
					"mobile": {
						"label": "Mobile",
						"value": 767,
						"default_value": 767,
						"direction": "max",
						"is_enabled": true
					},
					"mobile_extra": {
						"label": "Mobile Extra",
						"value": 880,
						"default_value": 880,
						"direction": "max",
						"is_enabled": false
					},
					"tablet": {
						"label": "Tablet",
						"value": 1024,
						"default_value": 1024,
						"direction": "max",
						"is_enabled": true
					},
					"tablet_extra": {
						"label": "Tablet Extra",
						"value": 1200,
						"default_value": 1200,
						"direction": "max",
						"is_enabled": false
					},
					"laptop": {
						"label": "Laptop",
						"value": 1366,
						"default_value": 1366,
						"direction": "max",
						"is_enabled": false
					},
					"widescreen": {
						"label": "Widescreen",
						"value": 2400,
						"default_value": 2400,
						"direction": "min",
						"is_enabled": false
					}
				}
			},
			"version": "3.6.2",
			"is_static": false,
			"experimentalFeatures": {
				"e_dom_optimization": true,
				"e_optimized_assets_loading": true,
				"a11y_improvements": true,
				"e_import_export": true,
				"additional_custom_breakpoints": true,
				"e_hidden_wordpress_widgets": true,
				"landing-pages": true,
				"elements-color-picker": true,
				"favorite-widgets": true,
				"admin-top-bar": true
			},
			"urls": {
				"assets": "https:\/\/live.21lab.co\/nanofit\/wp-content\/plugins\/elementor\/assets\/"
			},
			"settings": {
				"page": [],
				"editorPreferences": []
			},
			"kit": {
				"active_breakpoints": ["viewport_mobile", "viewport_tablet"],
				"global_image_lightbox": "yes",
				"lightbox_enable_counter": "yes",
				"lightbox_enable_fullscreen": "yes",
				"lightbox_enable_zoom": "yes",
				"lightbox_enable_share": "yes",
				"lightbox_title_src": "title",
				"lightbox_description_src": "description"
			},
			"post": {
				"id": 59,
				"title": "Contact%20Us%20%E2%80%93%20NanoFit",
				"excerpt": "",
				"featuredImage": false
			}
		};
	</script>
	<script src='~/Website/wp-content/plugins/elementor/assets/js/frontend.min822f.js?ver=3.6.2' id='elementor-frontend-js'></script>
	<script>
		window.lazyLoadOptions = {
			elements_selector: "img[data-lazy-src],.rocket-lazyload,iframe[data-lazy-src]",
			data_src: "lazy-src",
			data_srcset: "lazy-srcset",
			data_sizes: "lazy-sizes",
			class_loading: "lazyloading",
			class_loaded: "lazyloaded",
			threshold: 300,
			callback_loaded: function (element) {
				if (element.tagName === "IFRAME" && element.dataset.rocketLazyload == "fitvidscompatible") {
					if (element.classList.contains("lazyloaded")) {
						if (typeof window.jQuery != "undefined") {
							if (jQuery.fn.fitVids) {
								jQuery(element).parent().fitVids()
							}
						}
					}
				}
			}
		};
		window.addEventListener('LazyLoad::Initialized', function (e) {
			var lazyLoadInstance = e.detail.instance;
			if (window.MutationObserver) {
				var observer = new MutationObserver(function (mutations) {
					var image_count = 0;
					var iframe_count = 0;
					var rocketlazy_count = 0;
					mutations.forEach(function (mutation) {
						for (var i = 0; i < mutation.addedNodes.length; i++) {
							if (typeof mutation.addedNodes[i].getElementsByTagName !== 'function') {
								continue
							}
							if (typeof mutation.addedNodes[i].getElementsByClassName !== 'function') {
								continue
							}
							images = mutation.addedNodes[i].getElementsByTagName('img');
							is_image = mutation.addedNodes[i].tagName == "IMG";
							iframes = mutation.addedNodes[i].getElementsByTagName('iframe');
							is_iframe = mutation.addedNodes[i].tagName == "IFRAME";
							rocket_lazy = mutation.addedNodes[i].getElementsByClassName('rocket-lazyload');
							image_count += images.length;
							iframe_count += iframes.length;
							rocketlazy_count += rocket_lazy.length;
							if (is_image) {
								image_count += 1
							}
							if (is_iframe) {
								iframe_count += 1
							}
						}
					});
					if (image_count > 0 || iframe_count > 0 || rocketlazy_count > 0) {
						lazyLoadInstance.update()
					}
				});
				var b = document.getElementsByTagName("body")[0];
				var config = {
					childList: !0,
					subtree: !0
				};
				observer.observe(b, config)
			}
		}, !1)
	</script>
	<script data-no-minify="1" async src="~/Website/wp-content/plugins/wp-rocket/assets/js/lazyload/17.5/lazyload.min.js"></script>
</body>

</html>