@model TapPaymentIntegration.Areas.Identity.Data.Subscriptions
@{
    ViewData["Title"] = "Editsubscription";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<br />
<section class="content">
    <div class="container-fluid">
        <div class="card card-secondary">
            <div class="card-header">
                <h5 class="text-center mb-0" style="font-weight:700;color:white;">Edit Subscription</h5>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Editsubscription", "Home", FormMethod.Post))
                {
                    <input type="hidden" class="form-control" id="SubscriptionId" name="SubscriptionId" value="@Model.SubscriptionId" />
                    <input type="hidden" class="form-control" id="CreatedDate" name="CreatedDate" value="@Model.CreatedDate" />
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Subscription Name&nbsp;<span style="color:red!important"><b>*</b></span></label>
                                <input type="text" class="form-control" id="Name" name="Name" tabindex="1" required="required" value="@Model.Name" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Currency:&nbsp;<span style="color:red!important"><b>*</b></span></label>
                                <input type="text" class="form-control" id="Currency" name="Currency" tabindex="3" required="required" value="@Model.Currency" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Frequency:&nbsp;<span style="color:red!important"><b>*</b></span></label>
                                <select class="form-control" id="Frequency" name="Frequency" tabindex="2" required="required">
                                    <option value="">Please Select a Frequency</option>
                                    <option value="Daily">Daily</option>
                                    <option value="Weekly">Weekly</option>
                                    <option value="Monthly">Monthly</option>
                                    <option value="Quarterly">Quarterly</option>
                                    <option value="Semi Annual">Semi Annual</option>
                                    <option value="Annually">Annually</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Country:&nbsp;<span style="color:red!important"><b>*</b></span></label>
                                <div class="input-group mb-3">
                                    <select name="Countries" class="form-control" id="Countries" tabindex="4" required="required">
                                        <option value=" " label="Please Select a Country">Please Select a Country</option>
                                        <option value="Bahrain" label="Bahrain">Bahrain</option>
                                        <option value="KSA" label="KSA">KSA</option>
                                        <option value="Kuwait" label="Kuwait">Kuwait</option>
                                        <option value="UAE" label="UAE">UAE</option>
                                        <option value="Qatar" label="Qatar">Qatar</option>
                                        <option value="Oman" label="Oman">Oman</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Setup Fee:&nbsp;<span style="color:red!important"><b>*</b></span></label>
                                <input type="number" class="form-control" id="SetupFee" name="SetupFee" tabindex="5" required="required" value="@Model.SetupFee" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Amount:&nbsp;<span style="color:red!important"><b>*</b></span></label>
                                <input type="text" class="form-control" id="Amount" name="Amount" tabindex="7" required="required" value="@Model.Amount" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div style="padding-top: 22px;">
                                <button class="btn btn-success mt-2" type="submit" tabindex="6">Edit Subscription</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js" integrity="sha512-8Z5++K1rB3U+USaLKG6oO8uWWBhdYsM3hmdirnOEWp8h2B1aOikj5zBzlXs8QOrvY9OxEnD2QDkbSKKpfqcIWw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function () {
        $("form").validate();
    });
</script>

